<div class="page-width-desktop">
    <div class="twcss-bg-red-600 twcss-p-60 twcss-text-white">Hello World!</div>
</div>

{% schema %}
{
  "name": "Image Carousel",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "Image Carousel"
    }
  ]
}
{% endschema %}
